In [15]:
import pandas as pd
from tqdm import tqdm
REF_bp = "ref_bp"
REF_chr = "ref_chr"

In [18]:
df = pd.read_table('good_snps_with_position.csv', sep=',')

In [19]:
df.head()

   ref_rs_id  ref_chr  ref_bp  ref_af ref_allele ref_other_allele  ref_snp_num
0  rs3094315        1  752566  0.8400          A                G      3094315
1  rs3131972        1  752721  0.1610          A                G      3131972
2  rs3131969        1  754182  0.1282          A                G      3131969
3  rs1048488        1  760912  0.1600          C                T      1048488
4  rs3115850        1  761147  0.8390          C                T      3115850

In [4]:
# extract core SNPs
def extract_core_snps(df, distance_core_SNPs = 5*10**5):
    for chrom in tqdm(range(1,23)):
        temp = df[df[REF_chr]==chrom]
        start = min(temp[REF_bp])
        ind_to_drop = []
        for index, row in temp.iterrows():
            if row[REF_bp] < start + distance_core_SNPs:
                ind_to_drop.append(index)
            else:
                start = row[REF_bp]
        df.drop(ind_to_drop, inplace = True)
    return(df)

In [5]:
filtered_snps = extract_core_snps(df)

100%|██████████| 22/22 [02:21<00:00,  6.43s/it]

In [14]:
filtered_snps[filtered_snps[REF_chr]==20]

        ref_snp_id A1 A2  ref_chrom    ref_bp       chr_bp
644235   rs7260967  A  G         20   5062452   20_5062452
647268    rs551927  G  A         20  10064529  20_10064529
649962    rs441902  C  T         20  15065374  20_15065374
653481   rs6112750  T  C         20  20065823  20_20065823
655842   rs2207634  G  A         20  25071454  20_25071454
656242   rs2233834  T  C         20  30071844  20_30071844
657870  rs34716589  G  A         20  35077802  20_35077802
659926   rs4142393  T  C         20  40078085  20_40078085
662607    rs435891  C  T         20  45079267  20_45079267
665203    rs228846  C  T         20  50080911  20_50080911
668072   rs6069767  T  G         20  55083478  20_55083478
671310   rs2427145  G  T         20  60086218  20_60086218

In [21]:
df.to_csv("core_snps.csv", index=False, sep='\t')