In [1]:
import pandas as pd
from tqdm import tqdm
REF_bp = "ref_bp"
REF_chr = "ref_chr"

In [10]:
df = pd.read_table('good_snps_with_position.csv', sep=',')
df.sort_values(by=[REF_chr, REF_bp], inplace=True)

In [12]:
df.head()

   ref_rs_id  ref_chr  ref_bp  ref_af ref_allele ref_other_allele  ref_snp_num
0  rs3094315        1  752566  0.8400          A                G      3094315
1  rs3131972        1  752721  0.1610          A                G      3131972
2  rs3131969        1  754182  0.1282          A                G      3131969
3  rs1048488        1  760912  0.1600          C                T      1048488
4  rs3115850        1  761147  0.8390          C                T      3115850

In [4]:
# extract core SNPs
def extract_core_snps(df, distance_core_SNPs = 10**6):
    for chrom in tqdm(range(1,23)):
        temp = df[df[REF_chr]==chrom]
        start = min(temp[REF_bp])
        ind_to_drop = []
        for index, row in temp.iterrows():
            if row[REF_bp] < start + distance_core_SNPs:
                ind_to_drop.append(index)
            else:
                start = row[REF_bp]
        df.drop(ind_to_drop, inplace = True)
    return(df)

In [5]:
filtered_snps = extract_core_snps(df)

100%|██████████| 22/22 [02:18<00:00,  6.31s/it]

In [6]:
filtered_snps.shape

(2659, 7)

In [7]:
filtered_snps[filtered_snps[REF_chr]==20].head()

,ref_rs_id,ref_chr,ref_bp,ref_af,ref_allele,ref_other_allele,ref_snp_num
1143385,rs6077653,20,1062682,0.78130,C,T,6077653
1144032,rs6046629,20,2062981,0.92445,A,G,6046629
1144651,rs2282018,20,3064949,0.38470,C,T,2282018
1145136,rs6084603,20,4068793,0.04672,A,G,6084603
1145825,rs6038067,20,5072721,0.45130,G,T,6038067

In [8]:
filtered_snps.to_csv("core_snps.csv", index=False, sep='\t')